<div class="product-card">
    <a href="{{ product.get_absolute_url }}">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
        <img src="https://via.placeholder.com/250x200?text=No+Image" alt="No image">
        {% endif %}
    </a>
    <div class="product-info">
        <div class="product-title"><a href="{{ product.get_absolute_url }}"
                style="text-decoration:none; color:inherit;">{{ product.name }}</a></div>
        <div class="product-price">${{ product.price }}</div>
    </div>
</div>